html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Karla", sans-serif;
}

h1 {
  font-size: 82px;
  font-weight: bold;
  line-height: 96px;
}

h2 {
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
}

h3 {
  font-size: 32px;
  line-height: 40px;
}

h4 {
  font-size: 24px;
  line-height: 30px;
}

h5 {
  font-size: 14px;
  line-height: 18px;
}

p {
  font-size: 14px;
  line-height: 24px;
}

.btn {
  display: flex;
  align-items: center;
}
.btn:hover .news--item--content--btn {
  color: #FFFFFF;
}
.btn:hover .news--item--content--btn:after {
  left: 0;
  width: 100%;
}
.btn:hover .news--item--content--btn--arrow img {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
}

.news--item--content--btn {
  display: inline-block;
  background-color: #FFFFFF;
  border: 1px solid #FE460D;
  color: #FE460D;
  font-size: 16px;
  line-height: 20px;
  padding: 19px 43px;
  text-transform: uppercase;
  transition: 0.6s all;
  z-index: 1;
  position: relative;
}
.news--item--content--btn:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #FE460D;
  transition: all 0.3s ease;
}

.news--item--content--btn--arrow {
  display: inline-block;
  border: 1px solid #FE460D;
  padding: 15px 18px 16px;
}
.news--item--content--btn--arrow img {
  transition: 0.6s all;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row-align-center {
  align-items: center;
}

.grid {
  display: grid;
  overflow: hidden;
  grid-auto-rows: 1fr;
  grid-column-gap: 0;
}

.grid1 {
  grid-template-columns: repeat(1, 1fr);
}

.grid2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid7 {
  grid-template-columns: repeat(7, 1fr);
}

.grid8 {
  grid-template-columns: repeat(8, 1fr);
}

.grid9 {
  grid-template-columns: repeat(9, 1fr);
}

.grid10 {
  grid-template-columns: repeat(10, 1fr);
}

.grid11 {
  grid-template-columns: repeat(11, 1fr);
}

.grid12 {
  grid-template-columns: repeat(12, 1fr);
}

.col1 {
  flex-basis: 8.3333333333%;
  box-sizing: border-box;
}

.col2 {
  flex-basis: 16.6666666667%;
  box-sizing: border-box;
}

.col3 {
  flex-basis: 25%;
  box-sizing: border-box;
}

.col4 {
  flex-basis: 33.3333333333%;
  box-sizing: border-box;
}

.col5 {
  flex-basis: 41.6666666667%;
  box-sizing: border-box;
}

.col6 {
  flex-basis: 50%;
  box-sizing: border-box;
}

.col7 {
  flex-basis: 58.3333333333%;
  box-sizing: border-box;
}

.col8 {
  flex-basis: 66.6666666667%;
  box-sizing: border-box;
}

.col9 {
  flex-basis: 75%;
  box-sizing: border-box;
}

.col10 {
  flex-basis: 83.3333333333%;
  box-sizing: border-box;
}

.col11 {
  flex-basis: 91.6666666667%;
  box-sizing: border-box;
}

.col12 {
  flex-basis: 100%;
  box-sizing: border-box;
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

@media screen and (max-width: 1440px) {
  .col1lg {
    flex-basis: 8.3333333333%;
    box-sizing: border-box;
  }

  .col2lg {
    flex-basis: 16.6666666667%;
    box-sizing: border-box;
  }

  .col3lg {
    flex-basis: 25%;
    box-sizing: border-box;
  }

  .col4lg {
    flex-basis: 33.3333333333%;
    box-sizing: border-box;
  }

  .col5lg {
    flex-basis: 41.6666666667%;
    box-sizing: border-box;
  }

  .col6lg {
    flex-basis: 50%;
    box-sizing: border-box;
  }

  .col7lg {
    flex-basis: 58.3333333333%;
    box-sizing: border-box;
  }

  .col8lg {
    flex-basis: 66.6666666667%;
    box-sizing: border-box;
  }

  .col9lg {
    flex-basis: 75%;
    box-sizing: border-box;
  }

  .col10lg {
    flex-basis: 83.3333333333%;
    box-sizing: border-box;
  }

  .col11lg {
    flex-basis: 91.6666666667%;
    box-sizing: border-box;
  }

  .col12lg {
    flex-basis: 100%;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 768px) {
  .col1md {
    flex-basis: 8.3333333333%;
    box-sizing: border-box;
  }

  .col2md {
    flex-basis: 16.6666666667%;
    box-sizing: border-box;
  }

  .col3md {
    flex-basis: 25%;
    box-sizing: border-box;
  }

  .col4md {
    flex-basis: 33.3333333333%;
    box-sizing: border-box;
  }

  .col5md {
    flex-basis: 41.6666666667%;
    box-sizing: border-box;
  }

  .col6md {
    flex-basis: 50%;
    box-sizing: border-box;
  }

  .col7md {
    flex-basis: 58.3333333333%;
    box-sizing: border-box;
  }

  .col8md {
    flex-basis: 66.6666666667%;
    box-sizing: border-box;
  }

  .col9md {
    flex-basis: 75%;
    box-sizing: border-box;
  }

  .col10md {
    flex-basis: 83.3333333333%;
    box-sizing: border-box;
  }

  .col11md {
    flex-basis: 91.6666666667%;
    box-sizing: border-box;
  }

  .col12md {
    flex-basis: 100%;
    box-sizing: border-box;
  }

  .row.column-sm {
    flex-direction: column;
  }

  .order-sm-0 {
    order: 0;
  }

  .order-sm-1 {
    order: 1;
  }
}
@media screen and (max-width: 474px) {
  .col1sm {
    flex-basis: 8.3333333333%;
    box-sizing: border-box;
  }

  .col2sm {
    flex-basis: 16.6666666667%;
    box-sizing: border-box;
  }

  .col3sm {
    flex-basis: 25%;
    box-sizing: border-box;
  }

  .col4sm {
    flex-basis: 33.3333333333%;
    box-sizing: border-box;
  }

  .col5sm {
    flex-basis: 41.6666666667%;
    box-sizing: border-box;
  }

  .col6sm {
    flex-basis: 50%;
    box-sizing: border-box;
  }

  .col7sm {
    flex-basis: 58.3333333333%;
    box-sizing: border-box;
  }

  .col8sm {
    flex-basis: 66.6666666667%;
    box-sizing: border-box;
  }

  .col9sm {
    flex-basis: 75%;
    box-sizing: border-box;
  }

  .col10sm {
    flex-basis: 83.3333333333%;
    box-sizing: border-box;
  }

  .col11sm {
    flex-basis: 91.6666666667%;
    box-sizing: border-box;
  }

  .col12sm {
    flex-basis: 100%;
    box-sizing: border-box;
  }
}
@keyframes topToBottom {
  0% {
    margin-top: -100vh;
  }
  100% {
    margin-top: 0%;
  }
}
@-moz-keyframes topToBottom {
  0% {
    margin-top: -100vh;
  }
  100% {
    margin-top: 0%;
  }
}
@-webkit-keyframes topToBottom {
  0% {
    margin-top: -100vh;
  }
  100% {
    margin-top: 0%;
  }
}
@-o-keyframes topToBottom {
  0% {
    margin-top: -100vh;
  }
  100% {
    margin-top: 0%;
  }
}
@-ms-keyframes topToBottom {
  0% {
    margin-top: -100vh;
  }
  100% {
    margin-top: 0%;
  }
}
.header--nav {
  align-items: center;
  display: flex;
  top: 24px;
  right: 60px;
  left: 60px;
  margin: auto;
  max-width: 1440px;
  position: absolute;
  z-index: 9999;
}
.header--nav--logo {
  margin-left: 0;
  margin-right: auto;
}
.header--nav--burger {
  margin-right: 0;
  margin-left: auto;
}
.header--menu {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #C3DFEA;
  margin: 0;
  padding: 0;
  display: none;
  align-items: center;
  justify-content: center;
  animation: topToBottom ease 2s;
  -webkit-animation: topToBottom ease 2s;
  -moz-animation: topToBottom ease 2s;
  -o-animation: topToBottom ease 2s;
  -ms-animation: topToBottom ease 2s;
  z-index: 999;
}
.header--menu--list {
  list-style: none;
}
.header--menu--list--item {
  text-align: center;
  padding: 13.5px 0;
}
.header--menu--list--item--link {
  font-weight: bold;
  font-size: 42px;
  line-height: 103.5%;
  color: #1C2B9E;
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  background: #FE460D;
  position: relative;
  cursor: pointer;
}
.burger .dash {
  width: 19px;
  height: 2px;
  background: #FFFFFF;
  border-radius: 50px;
  transition: 0.25s;
  margin: 2.5px auto;
}
.burger .dash:nth-of-type(3) {
  position: absolute;
  top: 22px;
}

.activebrgr .header--menu {
  display: flex;
}
.activebrgr .burger .dash:nth-of-type(1), .activebrgr .burger .dash:nth-of-type(4) {
  opacity: 0;
}
.activebrgr .burger .dash:nth-of-type(2) {
  transform: rotate(-45deg);
}
.activebrgr .burger .dash:nth-of-type(3) {
  transform: rotate(45deg);
}

.banner {
  background-color: #C3DFEA;
  height: 100vh;
  position: relative;
}
.banner:after {
  content: "";
  background-image: url("../img/img-cover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 100vh;
  margin: auto;
  max-width: 1440px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}
.banner--body {
  text-align: center;
}
.banner--body--title, .banner--body--content {
  color: #1C2B9E;
  max-width: 474px;
  margin: auto;
}
.banner--body--title {
  padding-top: 98px;
}
.banner--body--content {
  line-height: 155.3%;
}

.testimonial {
  padding-top: 70px;
}
.testimonial--head {
  text-align: center;
}
.testimonial--head--icon {
  position: relative;
  display: flex;
  justify-content: center;
  height: 75px;
  width: 60px;
  margin: auto;
}
.testimonial--head--icon--dash {
  width: 7.12px;
  height: 30.87px;
  background: #FE460D;
  position: absolute;
}
.testimonial--head--icon--dash:nth-of-type(1) {
  transform: rotate(-33.25deg);
  top: 0;
  left: 17px;
}
.testimonial--head--icon--dash:nth-of-type(2) {
  transform: rotate(-90deg);
  left: 6px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.testimonial--head--icon--dash:nth-of-type(3) {
  transform: rotate(-131.66deg);
  bottom: 0px;
  left: 0;
}
.testimonial--head--title {
  margin-top: 27px;
  text-transform: uppercase;
}
.testimonial--body .row {
  align-items: center;
}
.testimonial--body--list {
  text-align: center;
}
.testimonial--body--list--item {
  font-size: 32px;
  line-height: 40px;
  padding: 22px 0;
}
.testimonial--body--list--item.active .testimonial--body--list--item--link {
  color: #FE460D;
}
.testimonial--body--list--item.active .testimonial--body--list--item--arrow:before {
  width: calc(100% + 65px);
}
.testimonial--body--list--item.active .testimonial--body--list--item--arrow:after {
  border-width: 0 1px 1px 0;
}
.testimonial--body--list--item--link {
  position: relative;
}
.testimonial--body--list--item--link:hover {
  color: #FE460D;
  transition: 0.4s;
}
.testimonial--body--list--item--link:hover .testimonial--body--list--item--arrow:before {
  width: calc(100% + 65px);
}
.testimonial--body--list--item--link:hover .testimonial--body--list--item--arrow:after {
  border-width: 0 1px 1px 0;
}
.testimonial--body--list--item--arrow {
  width: 100%;
  position: absolute;
  top: 45px;
  left: 0;
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.testimonial--body--list--item--arrow:before {
  content: "";
  background-color: #FE460D;
  height: 1px;
  display: inline-block;
  width: 0;
  margin-right: -7px;
  margin-left: -70px;
  transition: 0.4s;
}
.testimonial--body--list--item--arrow:after {
  content: "";
  border: solid #FE460D;
  border-width: 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transition: 0.4s;
}
.testimonial--body--content--list {
  margin: 45px 121px 70px 150px;
}
.testimonial--body--content--list--item {
  background-color: #F6F6F6;
  display: none;
  padding: 50px 61px 35px 121px;
  position: relative;
  margin: auto;
  width: fit-content;
}
.testimonial--body--content--list--item.active {
  display: block;
}
.testimonial--body--content--list--item--img {
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  left: -100px;
  bottom: 0;
}
.testimonial--body--content--list--item--title {
  color: #FE460D;
}
.testimonial--body--content--list--item--text {
  margin: 26px 0;
  max-width: 473px;
}
.footer {
  margin-top: 37px;
}
.footer--head {
  text-align: center;
}
.footer--head--text {
  color: #FE460D;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  text-transform: uppercase;
  margin: 25px auto 33px;
}
.footer--body {
  background-color: #C3DFEA;
  min-height: 93px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer--body--list {
  list-style: none;
  text-align: center;
}
.footer--body--list--item {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  margin: auto 20px;
}
@media screen and (max-width: 480px) {
  .banner--body--title {
    font-size: 62px;
    line-height: 89px;
  }
  .banner:after {
    height: 70vh;
  }
}
@media screen and (max-height: 810px) {
  .banner:after {
    height: 70vh;
  }
}
@media screen and (max-height: 730px) {
  .banner--body--title {
    font-size: 48px;
    line-height: 60px;
  }
}
@media screen and (max-width: 680px) {
  .footer--body {
    padding: 30px 0;
  }
  .footer--body--list--item {
    display: block;
    margin: 15px 20px;
  }
}
a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
