html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Karla", sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 82px;
  font-weight: bold;
  line-height: 96px;
}

@keyframes topToBottom {
  0% {
    margin-top: -100vh;
  }
  100% {
    margin-top: 0%;
  }
}
@-moz-keyframes topToBottom {
  0% {
    margin-top: -100vh;
  }
  100% {
    margin-top: 0%;
  }
}
@-webkit-keyframes topToBottom {
  0% {
    margin-top: -100vh;
  }
  100% {
    margin-top: 0%;
  }
}
@-o-keyframes topToBottom {
  0% {
    margin-top: -100vh;
  }
  100% {
    margin-top: 0%;
  }
}
@-ms-keyframes topToBottom {
  0% {
    margin-top: -100vh;
  }
  100% {
    margin-top: 0%;
  }
}
.header--nav {
  align-items: center;
  display: flex;
  top: 24px;
  right: 60px;
  left: 60px;
  margin: auto;
  max-width: 1440px;
  position: absolute;
  z-index: 9999;
}
.header--nav--logo {
  margin-left: 0;
  margin-right: auto;
}
.header--nav--burger {
  margin-right: 0;
  margin-left: auto;
}
.header--menu {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #C3DFEA;
  margin: 0;
  padding: 0;
  display: none;
  align-items: center;
  justify-content: center;
  animation: topToBottom ease 2s;
  -webkit-animation: topToBottom ease 2s;
  -moz-animation: topToBottom ease 2s;
  -o-animation: topToBottom ease 2s;
  -ms-animation: topToBottom ease 2s;
  z-index: 999;
}
.header--menu--list {
  list-style: none;
}
.header--menu--list--item {
  text-align: center;
  padding: 13.5px 0;
}
.header--menu--list--item--link {
  font-weight: bold;
  font-size: 42px;
  line-height: 103.5%;
  color: #1C2B9E;
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  background: #FE460D;
  position: relative;
  cursor: pointer;
}
.burger .dash {
  width: 19px;
  height: 2px;
  background: #FFFFFF;
  border-radius: 50px;
  transition: 0.25s;
  margin: 2.5px auto;
}
.burger .dash:nth-of-type(3) {
  position: absolute;
  top: 22px;
}

.activebrgr .header--menu {
  display: flex;
}
.activebrgr .burger .dash:nth-of-type(1), .activebrgr .burger .dash:nth-of-type(4) {
  opacity: 0;
}
.activebrgr .burger .dash:nth-of-type(2) {
  transform: rotate(-45deg);
}
.activebrgr .burger .dash:nth-of-type(3) {
  transform: rotate(45deg);
}

.banner {
  background-color: #C3DFEA;
  height: 100vh;
  position: relative;
}
.banner:after {
  content: "";
  background-image: url("../img/img-cover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 100vh;
  margin: auto;
  max-width: 1440px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}
.banner--body {
  text-align: center;
}
.banner--body--title, .banner--body--content {
  color: #1C2B9E;
  max-width: 474px;
  margin: auto;
}
.banner--body--title {
  padding-top: 98px;
}
.banner--body--content {
  line-height: 155.3%;
}

.footer {
  margin-top: 37px;
}
.footer--head {
  text-align: center;
}
.footer--head--text {
  color: #FE460D;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  text-transform: uppercase;
  margin: 25px auto 33px;
}
.footer--body {
  background-color: #C3DFEA;
  min-height: 93px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer--body--list {
  list-style: none;
  text-align: center;
}
.footer--body--list--item {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  margin: auto 20px;
}
@media screen and (max-width: 480px) {
  .banner--body--title {
    font-size: 62px;
    line-height: 89px;
  }
  .banner:after {
    height: 70vh;
  }
}
@media screen and (max-height: 810px) {
  .banner:after {
    height: 70vh;
  }
}
@media screen and (max-height: 730px) {
  .banner--body--title {
    font-size: 48px;
    line-height: 60px;
  }
}
@media screen and (max-width: 680px) {
  .footer--body {
    padding: 30px 0;
  }
  .footer--body--list--item {
    display: block;
    margin: 15px 20px;
  }
}
a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
