@keyframes dispayDashBottom {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(49.66deg);
  }
}

@keyframes dispayDashMiddle {
  0% {
    transform: rotate(0);
    top: 44px;
    left: 0;
  }
  100% {
    transform: rotate(90deg);
    top: 0;
    left: 6px;
  }
}

@keyframes dispayDashTop {
  0% {
    transform: rotate(0);
    top: 44px;
    left: 0;
  }
  100% {
    transform: rotate(133.25deg);
    top: 0;
    left: 17px;
  }
}
