.btn {
  display: flex;
  align-items: center;
  width: fit-content;
  &:hover {
    .news--item--content--btn {
      color: $light;
      &:after {
        left: 0;
        width: 100%;
      }
    }
    .news--item--content--btn--arrow {
      img {
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
      }
    }
  }
}

.news--item--content--btn {
  display: inline-block;
  background-color: $light;
  border: 1px solid $primary;
  color: $primary;
  font-size: 16px;
  line-height: 20px;
  padding: 19px 43px;
  text-transform: uppercase;
  transition: .6s all;
  z-index: 1;
  position: relative;
  &:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: $primary;
    transition: all 0.3s ease;
  }
}

.news--item--content--btn--arrow {
  display: inline-block;
  border: 1px solid $primary;
  padding: 15px 18px 16px;
  img {
    transition: .6s all;
  }
}
