$karla: "Karla", sans-serif;

html {
  font-family: $karla;
}

h1 {
  font-size: 82px;
  font-weight: bold;
  line-height: 96px;
}

h2 {
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
}

h3 {
  font-size: 32px;
  line-height: 40px;
}

h4 {
  font-size: 24px;
  line-height: 30px;
}

h5 {
  font-size: 14px;
  line-height: 18px;
}

p {
  font-size: 14px;
  line-height: 24px;
}
