$cols: 12;
$gutter: 5px;
$prefix: col;
$responsive: ['sm', 'md', 'lg'];

.row {
  display: flex;
  flex-wrap: wrap;
}

.row-align-center {
  align-items: center;
}

.grid {
  display: grid;
  overflow: hidden;
  grid-auto-rows: 1fr;
  grid-column-gap: 0;
}

@for $i from 1 through $cols {
  .grid#{$i} {
    grid-template-columns: repeat( $i, 1fr);
  }
}

@for $i from 1 through $cols {
  .#{$prefix}#{$i} {
    $w: 100% / $cols * $i;
    flex-basis: $w;
    box-sizing: border-box;
  }
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

@media screen and (max-width: 1440px){
  @for $i from 1 through $cols {
    .#{$prefix}#{$i}lg {
      $w: 100% / $cols * $i;
      flex-basis: $w;
      box-sizing: border-box;
    }
  }
}

@media screen and (max-width: 768px){
  @for $i from 1 through $cols {
    .#{$prefix}#{$i}md {
      $w: 100% / $cols * $i;
      flex-basis: $w;
      box-sizing: border-box;
    }
  }

  .row {
    &.column-sm {
      flex-direction: column;
    }
  }

  .order-sm-0 {
    order: 0;
  }

  .order-sm-1 {
    order: 1;
  }
}

@media screen and (max-width: 474px){
  @for $i from 1 through $cols {
    .#{$prefix}#{$i}sm {
      $w: 100% / $cols * $i;
      flex-basis: $w;
      box-sizing: border-box;
    }
  }
}
